<h2>My Fake Heroes</h2>
<!-- lista de heroes -->
<ul class="heroes">
  <li 
    *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}} </span>{{hero.name}}
  </li>
</ul>

<!-- si existe un heroe elegido, mostrar esta seccion -->
<div *ngIf="selectedHero">
  <!-- Mostramos el nombre del heroe, pasandolo por un pipe, asi lo transformamos para
  que se visualice en uppercase -->
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <!-- Editar heroe, enlace de datos bidireccional -->
  <div>
    <label for="">name: 
      <input [(ngModel)]="selectedHero.name" placeholder="name" type="text"/>
    </label>
  </div>
</div>
