<h2>My Fake Heroes</h2>
<!-- lista de heroes -->
<ul class="heroes">
  <li 
    *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}} </span>{{hero.name}}
  </li>
</ul>
<!-- detalle del heroe seleccionado -->
<!-- heroes component envia un heroe seleccionado a hero-detail component -->
<!-- ? de donde sale el heroe seleccionado?, de: ejecutar el evento click en el <li> -->
<!-- ? esto modifica la variable selectedHero que luego se envia a hero del componente -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>